{% load static %}

<nav id="titleBar">
        <span style="font-family:'Arial Black', sans-serif;font-size:30px;color:#007bff;">TECH 2024</span>
  
    <div class="links">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button type="submit" id="profile_btn" class="submit_btn">Hi, {{user.fname}}</button>
            <div class="options">
                <a href="{% url 'admin_dashboard' %}">Dashboard</a>
                <a href="{% url 'profile_administrator' %}">Profile</a>
                <a href="{% url 'admin_logout' %}">Log Out</a>  
            </div>
        </div>
        {% endif %}        
    </div>
</nav>