{% load static %}

<nav id="titleBar">
    <div id="logo_container">
        <span style="font-family:'Arial Black', sans-serif;font-size:30px;color:#007bff;">TECH 2024</span>
    </div>
    <div class="links">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button type="submit" id="profile_btn" class="submit_btn"><a href="{% url 'eventHead_dashboard' %}">Hi, {{user.fname}}</a></button>
            <div class="options">
                <a href="{% url 'eventHead_dashboard' %}">Dashboard</a>
                <a href="{% url 'event_head_profile' %}">Profile</a>
                <a href="{% url 'eventHead_logout' %}">Log Out</a>  
            </div>
        </div>
        {% endif %}        
    </div>
</nav>